body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.course-list {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    gap: 20px; /* Промежуток между элементами */
    justify-content: center; /* Центрирование элементов */
}

.course-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Скрытие переполнения */
    width: calc(33.333% - 20px); /* Ширина 1/3 от контейнера с учетом промежутка */
    text-align: center; /* Центрирование текста */
}

.course-image {
    width: 100%; /* Ширина изображения 100% от контейнера */
    height: 150px; /* Фиксированная высота */
    object-fit: cover; /* Обеспечивает обрезку изображения */
}

.course-info {
    padding: 10px;
}

.course-title {
    font-size: 18px;
    margin: 0;
}

.course-price {
    color: darkgreen;
}
.search-container {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #218838;
}